h1 {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;/* Handgloves font for the title */
    color: #fff; 
    text-align: center;
    font-size: 3em; /* Increase title size */
    margin-bottom: 20px; /* Add space below title */
}

body {
    margin: 0; /* Remove default body margin */
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;/* Handgloves font for the title */
    background-color: #222; /* Dark background */
    color: #eee; /* Light text color */
    display: flex; /* Enable flexbox for centering */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#container {
    width: 500px;
    height: auto; /* Automatically adjust height to video aspect ratio */
    background-color: #333; /* Slightly lighter container */
    padding: 20px;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    background: linear-gradient(135deg, #a04add, #b49de5, #ffffff); /* Gradient background */
    flex: 1;
    margin: 20px;
}

.containers-wrapper {
    display: flex;
    justify-content: space-between;
}

.right-aligned-container {
    flex: 1;
}

button, #submitButton {
    background-color: transparent;
    color: linear-gradient(135deg, #a04add, #b49de5, #ffffff);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px; /* Add space above buttons */
    transition: background-color 0.3s; /* Smooth transition on hover */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.203); /* Darker blue on hover */
}

button:disabled {
    opacity: 0.6; /* Dim disabled buttons */
    cursor: not-allowed;
}

#videoElement {
    width: 100%;
    max-width: 500px;
    height: auto;
    width: 100%; /* Make video fill container width */
    display: block; /* Prevent extra space below video */
    border-radius: 4px; /* Slightly rounded video corners */
}
#aslChart {
    width: 100%;
    max-width: 500px;
    height: auto;
}
#transcriptionTextarea {
    width: 100%;
    max-width: 300px;
    height: 150px;
    margin-top: 20px;
}

#transcriptionBox {
    margin-right: 20px;
    padding: 10px;
}