{% extends 'layout.html' %}

{% block title %}
    Sign Language Translator
{% endblock %}

{% block content %}
<div class="containers-wrapper">
    <div id="container">
        <img id="videoElement" />
        <button id="startButton">Start Webcam</button>
        <button id="stopButton">Stop Webcam</button>
    </div>
    
    <div class="right-aligned-container">
        <img src="/static/ASL_chart.jpg" alt="ASL Chart" id="aslChart">
        <textarea rows="10" cols="30" readonly id="transcriptionTextarea"></textarea>
    </div>
</div>

<script>
    const videoElement = document.getElementById('videoElement');
    const startButton = document.getElementById('startButton');
    const stopButton = document.getElementById('stopButton');
    const transcriptionTextarea = document.getElementById('transcriptionTextarea');

    function startWebcam() {
        videoElement.src = "{{ url_for('video_feed') }}";
        startButton.disabled = true;
        stopButton.disabled = false;
    }

    function stopWebcam() {
        videoElement.src = "";
        startButton.disabled = false;
        stopButton.disabled = true;
    }

    startButton.addEventListener('click', startWebcam);
    stopButton.addEventListener('click', stopWebcam);
</script>
{% endblock %}
